* {
    border: none;
    border-radius: 0;
    font-family: "PragmataPro";
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    /*
    background: rgba(50,50,50,.8);
    color: white;
    */
    color:      rgba(217, 216, 216, 1);
    background: rgba(35, 31, 32, 0.60);
}


#window {
    font-weight: bold;
    font-family: "PragmataPro";
}

#workspaces {
    /*background: rgba(35, 31, 32, 0.90);*/
    padding: 0 5px;
}

#workspaces button {
    padding: 0 5px;
    background: transparent;
    color: white;
    /*border-top: 2px solid transparent;*/
}

#workspaces button.focused {
    color: #e8db4a;
    /*border-top: 2px solid #c9545d;*/
}


#workspaces button.hover{
    color: red;
}


#workspaces button.urgent {
    color: #b31515;
    /*color:      rgba(238, 46, 36, 1);*/
}

#mode {
    background: #64727D;
    border-bottom: 3px solid white;
}

#clock, #battery, #temperature, #cpu, #memory, #network, #pulseaudio, #custom-spotify, #tray, #mode {
    padding: 0 3px;
    /*background: rgba(35, 31, 32, 0.90);*/
    background: 0 3px;
    margin: 0 2px;
    box-shadow: 0 0px;
    color:      rgba(217, 216, 216, 1);
}

#clock {
    /*font-weight: bold;*/
}

#battery {
}

#battery icon {
    color: red;
}

#battery.charging {
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: black;
    }
}

#battery.warning:not(.charging) {
    color: white;
    animation-name: blink;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#cpu {
}

#memory {
}

#network {
}

#network.disconnected {
    background: #f53c3c;
}

#pulseaudio {
}

#pulseaudio.muted {
}

#custom-spotify {
    color: rgb(102, 220, 105);
}

#tray {
}

